<ion-header>
  <ion-toolbar>
    <ion-title>Checkout</ion-title>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div *ngIf="cart?.data.length > 0" class="cart-items">
    <app-checkout-item
      *ngFor="let cartItem of cart.data; let i = index"
      [cartItem]="cartItem"
      [index]="i"
    ></app-checkout-item>
  </div>

  <div class="address">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Số điện thoại</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">tỉnh/thành phố</ion-label>
        <ion-select placeholder="Chọn tỉnh/thành phố">
          <ion-select-option value="apples">Hà Nội</ion-select-option>
          <ion-select-option value="oranges">Sài Gòn</ion-select-option>
          <ion-select-option value="bananas">Đà Nẵng</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">quận/huyện</ion-label>
        <ion-select placeholder="Chọn quận/huyện">
          <ion-select-option value="apples">Hoàng Mai</ion-select-option>
          <ion-select-option value="oranges">Cầu Giấy</ion-select-option>
          <ion-select-option value="bananas">Thanh Xuân</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Địa chỉ</ion-label>
        <ion-textarea value=""> </ion-textarea>
      </ion-item>
    </ion-list>
  </div>
  <hr />
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button
      (click)="sendOrder()"
      expand="block"
      class="main-button"
      routerDirection="forward"
      >Mua</ion-button
    >
  </ion-toolbar>
</ion-footer>
