<ion-header>
  <ion-toolbar>
    <ion-title>Checkout</ion-title>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div *ngIf="cart?.data.length > 0" class="cart-items">
    <app-checkout-item
      *ngFor="let cartItem of cart.data; let i = index"
      [cartItem]="cartItem"
      [index]="i"
    ></app-checkout-item>
  </div>

  <app-checkout-information *ngIf="cart"> </app-checkout-information>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button
      (click)="sendOrder()"
      expand="block"
      class="main-button"
      routerDirection="forward"
      >Mua</ion-button
    >
  </ion-toolbar>
</ion-footer>
