<ion-header>
  <ion-toolbar>
    <ion-title>Checkout</ion-title>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="cart-items">
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/cart1.png" />
        </div>

        <div class="item-info">
          <p>Women t-shirt</p>
          <p>Lotto.LTD</p>
          <p>$34.00</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>1</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/cart1.png" />
        </div>

        <div class="item-info">
          <p>Female t-shirt</p>
          <p>Bata</p>
          <p>$44.00</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>1</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="address">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Số điện thoại</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">tỉnh/thành phố</ion-label>
        <ion-select placeholder="Chọn tỉnh/thành phố">
          <ion-select-option value="apples">Hà Nội</ion-select-option>
          <ion-select-option value="oranges">Sài Gòn</ion-select-option>
          <ion-select-option value="bananas">Đà Nẵng</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">quận/huyện</ion-label>
        <ion-select placeholder="Chọn quận/huyện">
          <ion-select-option value="apples">Hoàng Mai</ion-select-option>
          <ion-select-option value="oranges">Cầu Giấy</ion-select-option>
          <ion-select-option value="bananas">Thanh Xuân</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Địa chỉ</ion-label>
        <ion-textarea value=""> </ion-textarea>
      </ion-item>
    </ion-list>
  </div>

  <hr />
  <!--
  <div class="cart-total">
    <ion-item lines="none">
      <ion-label>Sub Total</ion-label>
      <ion-label slot="end" class="ion-text-right">$160.00</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Discount</ion-label>
      <ion-label slot="end" class="ion-text-right">5%</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Shipping</ion-label>
      <ion-label slot="end" class="ion-text-right">$10.00</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Total</ion-label>
      <ion-label slot="end" class="ion-text-right">$162.00</ion-label>
    </ion-item>
  </div> -->
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" routerDirection="forward"
      >Mua</ion-button
    >
  </ion-toolbar>
</ion-footer>
