<div *ngIf="cartInformation" class="information">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Tên</ion-label>
      <ion-input
        (ionChange)="handleChangeFullname($event)"
        [(ngModel)]="cartInformation.fullName"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Số điện thoại</ion-label>
      <ion-input
        type="number"
        (ionChange)="handleChangePhone($event)"
        [(ngModel)]="cartInformation.phone"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Chiều cao (cm)</ion-label>
      <ion-input
        type="number"
        (ionChange)="handleChangeHeight($event)"
        [(ngModel)]="cartInformation.height"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Cân nặng (kg)</ion-label>
      <ion-input
        type="number"
        (ionChange)="handleChangeWeight($event)"
        [(ngModel)]="cartInformation.weight"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">tỉnh/thành phố</ion-label>
      <ion-select
        placeholder="Chọn tỉnh/thành phố"
        (ionChange)="handleChangeProvince($event.target.value)"
        [(ngModel)]="cartInformation.province"
      >
        <ion-select-option
          *ngFor="let code of objectKeys(provinces)"
          [value]="provinces[code].code"
          >{{ provinces[code].name }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">quận/huyện</ion-label>
      <ion-select
        placeholder="Chọn quận/huyện"
        (ionChange)="handleChangeDistrict($event.target.value)"
        [(ngModel)]="cartInformation.district"
      >
        <ion-select-option
          *ngFor="let code of objectKeys(districts)"
          [value]="districts[code].code"
          >{{ districts[code].name }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Địa chỉ</ion-label>
      <ion-textarea
        (ionChange)="handleChangeAddress($event.target.value)"
        [value]="cartInformation.address"
      >
      </ion-textarea>
    </ion-item>
  </ion-list>
</div>
