<ion-item *ngIf="product">
  <ion-card mode="ios">
    <img [src]="product.image" />
    <ion-card-header>
      <ion-card-subtitle class="price"
        >Price: {{ product.price | currency: "VND" }}</ion-card-subtitle
      >
      <ion-card-title>{{ product.productName }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-button class="add-to-cart-btn" color="success"
            >Thêm vào giỏ</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Số lượng</ion-label>
            <ion-input type="number" value="1"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-item>
